/* =============================================================================
   NORMALIZATION
========================================================================== */

*  {
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
[hidden] { display: none; }

ul, ol {
    list-style: none;
}

body {
	background: #2e3436;
}

.ink-grid {
	max-width: none;
	padding: 0px;
}

/* Gridster styles */

.gridster {
    width: 1400px;
    margin: 0 auto;
}

.icon-background {
  width: 100% !important;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
  font-size: 205px;
}

.gridster .gs-w {
  background: #eeeeec;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  text-align: center;
  color: white;
  display: table;
}

.widget {
	display: table-cell;
	vertical-align: middle;
}

.gridster .gs-w  h1 {
	color: rgba(255, 255, 255, 0.7);
	font-size: 30px;
	font-weight: 400;
	padding: 0px;
	margin: 0px;
}

.gridster .gs-w  h2 {
	color: white;
	font-size: 60px;
	font-weight: 700;
	padding: 0px;
	margin: 0px;
}

.gridster #coffeesWidget {
	background: #edd400;
}

.gridster #powerWidget {
	background: #729fcf;
}

.gridster #title {
	fill: rgba(255, 255, 255, 0.7);
	font-size: 30px;
	font-weight: 400;
}


.gridster #moneySpentWidget {
	background: #ad7fa8;
}

.gridster #coffeeChartWidget {
	background: #e9b96b;
}

.gridster #LabFabWidget {
	background: #d3d7cf;
}

.gridster #busWidget {
	background: #fcaf3e;
}

.gridster #bikesWidget {
	background: #ef2929;
}

.gridster #timeWidget {
	background: #73d216;
}

.gridster #weatherWidget {
	background: #3465a4;
}

.gridster #peopleWidget {
	background: #75507b	;
}

.gridster #messageWidget {
	background: #f57900;
}

.gridster #message {
	font-size: 20px;
}

/* D3.js */
.line {
  fill: none;
  stroke: rgba(255, 255, 255, 0.7);
  stroke-width: 2.5px;
}

.bar {
  fill: rgba(255, 255, 255, 0.5);
  stroke: none;
}

.axis path,.axis line {
	fill: none;
	stroke: none;
}

.tick text {
	fill: rgba(255, 255, 255, 0.7);
	font-size: 15px;
}

