Options +FollowSymLinks
RewriteEngine On
RewriteBase /

RewriteEngine on
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$ api.php?uri=$1&uid=$2&id=$3  [L]
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$ api.php?uri=$1&id=$2  [L]

